[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
mypy = "*"
typing-extensions = "*"
pandas-profiling = "*"
streamlit-pandas-profiling = "*"

[dev-packages]

[requires]
python_version = "3.7"
